{{> menu}}

<section class="ui two column grid segment">
  <div class="ui column">
      <h2 class="ui header">
  Welcome to the Formula 1 App, {{fullname}}!
</h2>

        <p>
          This app will allow users to create and maintain a collection of races.
        </p>
        <div class="buttons">
          <button class="ui blue button">
            Read more <i class="arrow circle right icon"></i>
          </button>
          <button class="ui green button">
            Like it? <i class="thumbs up icon"></i>
          </button>
          <button class="ui red button">
            Who are you? <i class="user icon"></i>
          </button>
        </div>
      <div id="readmore" class="ui message">
        <p>
          Over the coming months, I will be updating the Web App with new features. Users will also be able to create an account, log in, and upload their own races to the app.
            <img class="ui small centered circular image" src="https://cdn.glitch.global/2f295cee-9560-4dcf-9b61-493d54d3c258/welcometoto.jpg?v=1682175024833">
        </p>  
      </div>
      <div id="welcomeuser" class="ui message"> </div>

      <div class="ui divider"></div>

      <h3 class="ui center aligned header">The Formula 1 App now contains:</h3>
      <div class="ui two statistics">
          <div class="ui huge statistic">
              <div class="value">
                  {{totalFormulas}}
              </div>
              <div class="label">
                  Formulas
              </div>
          </div>
          <div class="ui huge statistic">
              <div class="value">
                  {{totalRaces}}
              </div>
              <div class="label">
                  Races
              </div>
          </div>
      </div>
    </div>  
  
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/76e5d4ee-ab33-4f34-954c-a50f89f32834/redbullduo.jpeg?v=1680169835594">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/76e5d4ee-ab33-4f34-954c-a50f89f32834/marinabay.jpeg?v=1678910253837">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/76e5d4ee-ab33-4f34-954c-a50f89f32834/gplist.jpeg?v=1679138877260">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/76e5d4ee-ab33-4f34-954c-a50f89f32834/perez.jpeg?v=1680169822048">
      </div>
    </div>
  </div>
</section>
